@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

.agoraphobia{
    color:transparent !important;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    animation:horror 5s infinite;
   	font-family: 'Special Elite',cursive;
}
:root{
    --agoraphobiaColor1:255,255,255
}
@keyframes horror{
    0%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.1)
    }
    5%{
        text-shadow:-.05em 0.05em 0.1em rgba(var(--agoraphobiaColor1),0.2)
    }
    10%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.3)
    }
    15%{
        text-shadow:-0.05em 0 0.1em rgba(var(--agoraphobiaColor1),0.4)
    }
    16%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),1)
    }
    17%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.4)
    }
    20%{
        text-shadow:0.05em 0.005em 0.1em rgba(var(--agoraphobiaColor1),0.5)
    }
    25%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.6)
    }
    30%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.7)
    }
    35%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.8)
    }
    36%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),1)
    }
    37%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.8)
    }
    40%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.9)
    }
    45%{
        text-shadow:0 -.05em 0.005em rgba(var(--agoraphobiaColor1),0.3)
    }
    50%{
        text-shadow:0.01em 0.01em 0.005em rgba(var(--agoraphobiaColor1),0.7)
    }
    55%{
        text-shadow:-.01em -.01em 0.1em rgba(var(--agoraphobiaColor1),0.6)
    }
    56%{
        text-shadow:0.01em -.01em 0.005em rgba(var(--agoraphobiaColor1),1)
    }
    57%{
        text-shadow:-.01em 0.01em 0.1em rgba(var(--agoraphobiaColor1),0.6)
    }
    60%{
        text-shadow:0.01em 0.01em 0.1em rgba(var(--agoraphobiaColor1),0.5)
    }
    65%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.4)
    }
    70%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.3)
    }
    75%{
        text-shadow:0.01em -.01em 0.1em rgba(var(--agoraphobiaColor1),0.2)
    }
    76%{
        text-shadow:-.01em 0.01em 0.005em rgba(var(--agoraphobiaColor1),1)
    }
    77%{
        text-shadow:0.01em 0.01em 0.1em rgba(var(--agoraphobiaColor1),0.2)
    }
    80%{
        text-shadow:0 0.01em 0.005em rgba(var(--agoraphobiaColor1),0.1)
    }
    85%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.2)
    }
    86%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),1)
    }
    87%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.2)
    }
    90%{
        text-shadow:0 0 0.005em rgba(var(--agoraphobiaColor1),0.3)
    }
    95%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.4)
    }
    100%{
        text-shadow:0 0 0.1em rgba(var(--agoraphobiaColor1),0.5)
    }
}



.anaglyph{
  	font-family: 'Major Mono Display', monospace;
  	color: #000000;
    animation: anaglyphMove linear 3S infinite;
}

:root{
    --glyphColor1:#ff0000;
    --glyphColor2:#00ffff
}

@keyframes anaglyphMove{
    0%{
        text-shadow:0.03em -.03em 0 var(--glyphColor1), 0.02em -.02em 0 var(--glyphColor1), 0.01em -.01em 0 var(--glyphColor1), 0.005em -.005em 0 var(--glyphColor1), -.03em 0.03em 0 var(--glyphColor2), -.02em 0.02em 0 var(--glyphColor2), -.01em 0.01em 0 var(--glyphColor2), -.005em 0.005em 0 var(--glyphColor2)
    }
    25%{
        text-shadow:-.03em -.03em 0 var(--glyphColor1), -.02em -.02em 0 var(--glyphColor1), -.01em -.01em 0 var(--glyphColor1), -.005em -.005em 0 var(--glyphColor1), 0.03em 0.03em 0 var(--glyphColor2), 0.02em 0.02em 0 var(--glyphColor2), 0.01em 0.01em 0 var(--glyphColor2), 0.005em 0.005em 0 var(--glyphColor2)
    }
    50%{
        text-shadow:-.03em 0.03em 0 var(--glyphColor1), -.02em 0.02em 0 var(--glyphColor1), -.01em 0.01em 0 var(--glyphColor1), -.005em 0.005em 0 var(--glyphColor1), 0.03em -.03em 0 var(--glyphColor2), 0.02em -.02em 0 var(--glyphColor2), 0.01em -.01em 0 var(--glyphColor2), 0.005em -.005em 0 var(--glyphColor2)
    }
    75%{
        text-shadow:0.03em 0.03em 0 var(--glyphColor1), 0.02em 0.02em 0 var(--glyphColor1), 0.01em 0.01em 0 var(--glyphColor1), 0.005em 0.005em 0 var(--glyphColor1), -.03em -.03em 0 var(--glyphColor2), -.02em -.02em 0 var(--glyphColor2), -.01em -.01em 0 var(--glyphColor2), -.005em -.00em 0 var(--glyphColor2)
    }
    100%{
        text-shadow:0.03em -.03em 0 var(--glyphColor1), 0.02em -.02em 0 var(--glyphColor1), 0.01em -.01em 0 var(--glyphColor1), 0.005em -.005em 0 var(--glyphColor1), -.03em 0.03em 0 var(--glyphColor2), -.02em 0.02em 0 var(--glyphColor2), -.01em 0.01em 0 var(--glyphColor2), -.005em 0.005em 0 var(--glyphColor2)
    }
}

:root{
    --comicOutline:#333333
}
.comicBoox{
  	color: #FFFFFF;
  	font-family: 'Luckiest Guy',cursive;
    text-shadow:0 0.1em 20px var(--comicOutline), 0.05em -0.03em 0 var(--comicOutline), 0.05em 0.005em 0 var(--comicOutline), 0 0.08em 0 var(--comicOutline), 0.05em 0.08em 0 var(--comicOutline), 0 -0.03em 0 var(--comicOutline), -0.03em -0.03em 0 var(--comicOutline), -0.03em 0.08em 0 var(--comicOutline), -0.03em 0 0 var(--comicOutline)
}

:root {
    --glowInner: transparent;
    --glowColor: #fff;
  }
  .neon {
    text-shadow: 0 0 15px var(--glowInner), 0 0 20px var(--glowInner),
      0 0 30px var(--glowColor), 0 0 40px var(--glowColor),
      0 0 50px var(--glowColor), 0 0 60px var(--glowColor),
      0 0 70px var(--glowColor);
  }
  .flicker1 {
    color: inherit;
    display: inline;
    animation: flicker1 5s infinite;
  }
  .flicker2 {
    color: inherit;
    display: inline;
    animation: flicker2 3s infinite;
  }
  .flicker3 {
    color: inherit;
    display: inline;
    animation: flicker1 2s infinite;
  }
  @keyframes flicker1 {
    0% {
      opacity: 1;
    }
    9% {
      opacity: 1;
    }
    10% {
      opacity: 0;
    }
    12% {
      opacity: 0;
    }
    13% {
      opacity: 1;
    }
    18% {
      opacity: 1;
    }
    19% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    22% {
      opacity: 1;
    }
    23% {
      opacity: 1;
    }
    24% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    26% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker2 {
    0% {
      opacity: 1;
    }
    15% {
      opacity: 1;
    }
    16% {
      opacity: 0;
    }
    18% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    23% {
      opacity: 1;
    }
    24% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    51% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    76% {
      opacity: 0;
    }
    78% {
      opacity: 0;
    }
    79% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .glitch {
    animation: glitch 3s steps(100) infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    1% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    2% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    3% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    4% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    5% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    6% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    7% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    8% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    9% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    10% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    11% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    12% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    13% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    14% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    15% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    16% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    17% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    18% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    19% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    20% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    21% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    22% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    23% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    24% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    25% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    26% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0.5px);
    }
    27% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0.5px);
    }
    28% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    29% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    30% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    31% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    32% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    33% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    34% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    35% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    36% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    37% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    38% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    39% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    40% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    41% {
        text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime;
        filter: blur(0);
    }
    42% {
        text-shadow: 0 0 0 #0c33f5, 0 0 0 lime;
        filter: blur(0);
    }
    43% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    44% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    45% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    46% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    47% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    48% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    49% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    50% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    51% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    52% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    53% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    54% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    55% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    56% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    57% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    58% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    59% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    60% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    61% {
        text-shadow: 30px 0 0 red, -30px 0 0 lime;
        filter: blur(0);
    }
    62% {
        text-shadow: 0 0 0 red, 0 0 0 lime;
        filter: blur(0);
    }
    63% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    64% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    65% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    66% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    67% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    68% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    69% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    70% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    71% {
        text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5;
        filter: blur(0);
    }
    72% {
        text-shadow: 0 0 0 red, 0 0 0 #0c33f5;
        filter: blur(0);
    }
    73% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    74% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    75% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    76% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    77% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    78% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    79% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    80% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    81% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    82% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    83% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    84% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    85% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    86% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    87% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    88% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    89% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    90% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    91% {
        text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5;
        filter: blur(0);
    }
    92% {
        text-shadow: 0 0 0 lime, 0 0 0 #0c33f5;
        filter: blur(0);
    }
    92% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    93% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    94% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    95% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    96% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    97% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    98% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    99% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    100% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
}